.todo-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
    background: $white;
    border: transparent 1px solid;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    position: relative;

    &--hold {
      background: $white;
      opacity: 1;
      border: $primary-color 1px solid;
      border-radius: 2px;
    }

    &--invisible {
      opacity: 0;
      visibility: visible;
    }

    &--active {
      background-color: $primary-color-clear;
    }
  }

  &__start {
    visibility: visible;
    opacity: 1;
    height: 0;
    width: 100%;
    position: relative;
  }

  &__start-target {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    background: transparent;
    min-height: 42px;
    transform: translateY(-50%);
    z-index: -1;
  }

  &__target {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    background: transparent;
    height: 100%;
    transform: translateY(50%);
    z-index: -1;
  }

  &__completed {
    margin-right: 5px;
    margin-left: 20px;
  }

  &__desc-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__desc {
    border: none;
    outline: none;
    min-height: 10px;
    font-weight: 300;
    width: 100%;
    padding: 1rem 0 1rem 0.5rem;
    background: transparent;
    margin-bottom: 0;

    &--done {
      text-decoration: line-through;
      font-style: italic;
      color: $gray-buttons;
    }

    &::placeholder {
      opacity: 1;
    }
  }

  &__grab {
    position: absolute;
    right: 0.9rem;
    width: 2rem;
    height: 2rem;
    justify-self: flex-end;
  }

  &__clear {
    color: rgba(0, 0, 0, 0.4);
    border: none;
    width: 100%;
    padding: 15px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__delete {
    z-index: -10;
    right: 15px;
    position: absolute;
    background: transparent;
    border: none;
    color: $gray-buttons;
    opacity: 0;
    transition:
      z-index 0s,
      opacity $speed ease-in-out,
      color $speed ease-in-out;

    &--active {
      z-index: 1;
      opacity: 1;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__empty {
    background: $gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-buttons;
    text-align: center;
    line-height: 2;
  }
}
