@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$primary-color: #2e8ae6;
$primary-color-clear: #e9f4ff;
$gray: rgb(245, 245, 245);
$white: #fff;
$gray-buttons: rgba(0, 0, 0, 0.4);

$font-family: 'open sans', sans-serif;

$speed: 150ms;
